# Pivot Table Using Pandas

In [0]:
import numpy as np
import pandas as pd
from IPython.display import HTML

In [0]:
df = pd.DataFrame({"A": ["boy", "boy", "boy", "boy", "boy",
                         "girl", "girl", "girl", "girl"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C" : ["sports", "non_sports", "sports", "sports", "sports",
                          "non_sports", "non_sports", "sports", "sports"],
                   "D": [50, 55, 67, 85, 44, 84, 65, 56, 87]})

In [3]:
df.shape

(9, 4)

In [4]:
df.head()

     A    B           C   D
0  boy  one      sports  50
1  boy  one  non_sports  55
2  boy  one      sports  67
3  boy  two      sports  85
4  boy  two      sports  44

In [0]:
table = pd.pivot_table(df, values='D', index=['A', 'B'], 
                       columns=['C'], aggfunc=np.mean)

In [6]:
table

C         non_sports  sports
A    B
boy  one        55.0    58.5
     two         NaN    64.5
girl one        74.5     NaN
     two         NaN    71.5

# Interactive Pivot Table Using PivotTableJS in Jupyter Notebook

In [7]:
!pip install pivottablejs
from pivottablejs import pivot_ui

Requirement already satisfied: pivottablejs in /usr/local/lib/python3.6/dist-packages (0.9.0)

In [8]:
pivot_ui(df,outfile_path='pivottablejs.html')
HTML('pivottablejs.html')